<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pks.movie.actor.dao.ActorDAO">
	<insert id="addActor" parameterType="map">
		INSERT INTO
			`actor`
		(
			`movieId`
			, `actor`
		)
		VALUE
		(
			#{movieId}
			, #{actor}
		)
		
	</insert>
	
	<select id="selectActorByMovieId" parameterType="map" resultType="com.pks.movie.actor.model.Actor">
		SELECT
			`id`
			, `movieId`
			, `actor`
		FROM
			`actor`
		WHERE
			`id` = #{movieId}
	
	</select>
	
	<select id="selectActorList" parameterType="int" resultType="com.pks.movie.actor.model.Actor">
		SELECT
			`id`
			, `movieId`
			, `actor`
		FROM
			`actor`
		WHERE
			`movieId` = #{movieId}

	</select>


</mapper>