<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pks.movie.famousline.dao.FamouslineDAO">
	
	<insert id="insertFamousLine" parameterType="map">
		INSERT INTO
			`famousline`
		(
			`userId`
			, `movieId`
			, `actorId`
			, `famousline`
			, `explain`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{movieId}
			, #{actorId}
			, #{famousline}
			, #{explain}
			,now()
			,now()
		)
		
	</insert>


</mapper>