<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pks.movie.famousline.dao.FamouslineDAO">
	
	<insert id="insertFamousLine" parameterType="map">
		INSERT INTO
			`famousline`
		(
			`userId`
			, `movieId`
			, `actorId`
			, `castingId`
			, `famousline`
			, `explain`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{movieId}
			, #{actorId}
			, #{castingId}
			, #{famousline}
			, #{explain}
			,now()
			,now()
		)
		
	</insert>
	
	<select id="selectFamousLine" parameterType="int" resultType="com.pks.movie.famousline.model.Famousline">
		SELECT
			`id`
			, `userId`
			, `movieId`
			, `actorId`
			, `castingId`
			, `famousline`
			, `explain`
			, `createdAt`
			, `updatedAt`
		FROM
			`famousline`
		WHERE
			`movieId` = #{movieId}
			
			
	</select>


	<select id="countFamouslineByMovieId" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`famousline`
		WHERE
			`movieId` = #{movieId}
		
	</select>

</mapper>