<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pks.movie.like.dao.LikeDAO">

	<insert id="insertLike" parameterType="map">
		INSERT INTO
			`like`
		(
			`userId`
			, `rowId`
			, `divisionId`
			, `createdAt`
		)
		VALUE
		(
			#{userId}
			, #{rowId}
			, #{divisionId}
			, now()
		)
	</insert>
	
	<select id="likeCount" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`rowId` = #{rowId}
			AND
			`divisionId` = #{divisionId}

	</select>
	
<!-- 	<select id="selectLike" parameterType="map" resultType="com.pks.movie.like.model.Like">
		SELECT
			`id`
			, `userId`
			, `rowId`
			, `divisionId`
			, `createdAt`
		FROM
			`like`
		WHERE
			`rowId` = #{rowId}
	</select> -->
	
	<select id="selectLikeCountByUserId" parameterType="map" resultType="int">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`userId` = #{userId}
			AND `rowId` = #{rowId}
			AND `divisionId` = #{divisionId}
			
	</select>
	
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM
			`like`
		WHERE
			`userId` = #{userId}
			AND `rowId` =#{rowId}
			AND `divisionId` = #{divisionId}
	</delete>
	


</mapper>