@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin:auto;
}

 section{
	width:1000px;
/* 	height:700px;  */
} 

section > .signup-box{
/* 	width:300px;
	height:300px; */
}

.login-range{
	width:350px;
	height:300px;
	border:1px solid;
	border-color:lightgray;
}

.login-box{
	width:290px;
	height:290px;
	
}

header{
	width:1200px;
	/* height:80px; */
}

header > .logo{
	width:200px;
	height:60px;
}

header > .login-menu{
	width:1000px;
	height:60px;
}

.login-bar{
	height:30px;
}

.main-menu{
	width:200px;
/* 	height:800px; */
}

.contents{
	width:1000px;
	height:800px;
}

.upload{
	width:1000px;
}

section > .movie-list{
	width:1000px;
}

.poster-box{
	height:400px;
}

.top-list{
	width:1000px;
	height:200px;
}


.bottom-list{
	width:1000px;
	height:200px;
}

.poster{
	width:150px;
	height:150px;
}

.frame{
	width:900px;
}

section > .movie-review{
	width:1000px;
	height:400px;
}
 textarea {
    width: 50%;
    height: 10.25em;
    border: none;
    resize: none;
 }

.movie-info{
	width:1000px;
	height:180px;
}

.movie-poster{
	width:200px;
	height:200px;
}

.info-detail{
/* 	width:800px;
	height:200px; */
}

.movie-story{
	width:500px;
/* 	height:300px; */
}

.famous-line{
	width:500px;
/* 	height:300px; */
}

.movie-review{
	width:1000px;
	height:400px;
}

.famousline-box{
	width:800px;
}


 
 
 